.homepage-wrapper {
  @include browser-prefix(animation, fadein $home-fadein-speed);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.home-header {
  display: table;
  height: 100vh;
}

.home-header-content {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  bottom: $arrow-padding;
}

.arrow {
  display: block;
  text-align: center;
  bottom: $arrow-padding;
  position: absolute;
  left: 50%;
  width: $arrow-width;
  margin-left: $arrow-width / -2;

  @include phone {
    bottom: $arrow-padding / 2;
  }
}

.arrow:after {
  content: "";
  display: block;
  height: $arrow-size;
  width: $arrow-size;
  border-left: $arrow-thickness solid $grey-color-dark;
  border-bottom: $arrow-thickness solid $grey-color-dark;
  margin: 0 auto;
  margin-top: $arrow-offset;
  @include browser-prefix(transform, rotate(-45deg));
}

.arrow:hover:after {
  border-color: $brand-color;
}

.home-main {
  padding: $home-padding 0;
}

.post {
  line-height: $post-line-height;
}

.post p {
  margin-bottom: $post-paragraph-after;
}

a:hover > .post-title {
  color: $brand-color;
}

a > .post, a:hover > .post {
  color: $grey-color-light;
  font-weight: normal;
}

.post-divider {
  opacity: $divider-opacity;
  margin-top: $post-divider-margin;
}

.post-wrapper:last-child .post-divider {
  display: none;
}
