.homepage-wrapper {
  @include browser-prefix(animation, fadein 2s);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.home-header {
  display: table;
  height: 100vh;
}

.home-header-content {
  display: table-cell;
  vertical-align: middle;
}

#arrow {
  display: block;
  text-align: center;
  position: relative;
  bottom: $arrow-padding;
}

#arrow:before {
  content: "";
  display: block;
  height: $arrow-height;
  width: $arrow-height * 4;
  background-color: black;
  @include browser-prefix(transform, rotate(45deg));
  position: relative;
  margin: 0 auto;
  top: 0 + $arrow-offset;
}

#arrow:after {
  content: "";
  display: block;
  height: $arrow-height;
  width: $arrow-height * 4;
  background-color: black;
  @include browser-prefix(transform, rotate(-45deg));
  position: relative;
  margin: 0 auto;
  top: $arrow-height * -5 + $arrow-offset;
  left: $arrow-height * 3 / 2;
}

.home-main {
  padding: 50px 0;
}

.post {
  line-height: $post-line-height;
}

.post p {
  margin-bottom: 1.75em;
}

a:hover > .post-title {
  color: $brand-color;
}

a > .post, a:hover > .post {
  color: $grey-color-light;
  font-weight: normal;
}

.post-divider {
  opacity: 0.2;
  margin-top: 1.17em;
}

.post-wrapper:last-child .post-divider {
  display: none;
}
