.post-header-nav {
  height: $nav-height;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4em;
}

.nav-header-title {
  color: $nav-text-color;
  margin: 0;
  padding: $nav-padding;
  letter-spacing: 1px;
  font-size: 1.5em;
}
