.post-header-nav {
  height: $nav-height;
  background-size: cover;
  background-position: center center;
  margin-bottom: $nav-bottom;

  @include phone {
    height: $nav-height / 2;
    margin-bottom: $nav-bottom / 2;
  }
}

.nav-header-title {
  display: inline-block;
  color: $nav-text-color;
  margin: $nav-title-margin;
  letter-spacing: $nav-letter-spacing;
  font-size: $nav-font-size;

  @include phone {
    margin: $nav-title-margin / 2;
  }
}

.post-footer {
  margin-top: $post-footer-spacing;
  padding: $post-footer-spacing 0 $post-footer-spacing * 2;
  border-top: solid $divider-thickness $divider-color;
}

.post-author {
  margin: 0;
}

.small-bio {
  font-size: $post-bio-font-size;
  margin-top: $post-bio-top;
  line-height: $post-bio-line-height;
}
