---
layout: default
---
<nav class='post-header-nav' style='background-image: url({{ page.cover }});'>
  <div class='big-container'>
    <a href='/'><h1 class='nav-header-title'>{{ site.title }}</h1></a>
  </div>
</nav>

<div class='container'>
  <div class='post'>
    <h2 class='post-title'>{{ page.title }}</h2>

    <article>
      {{ content }}
    </article>
  </div>

  <div class='post-footer'>
    <h4 class='post-author'>Kirby Kohlmorgen</h4>
    <div class='small-bio'>
      Solutions Architect at <a href='https://stripe.com/' target='_blank'>Stripe</a>.
    </div>
  </div>
</div>
