---
layout: default
---
<nav class='post-header-nav' style='background-image: url({{ page.cover }});'>
  <div class='big-container'>
    <a href='/'><h1 class='nav-header-title'>{{ site.title }}</h1></a>
  </div>
</nav>

<div class='container'>
  <div class='post'>
    <h2 class='post-title'>{{ page.title }}</h2>

    <article>
      {{ content }}
    </article>
  </div>

  <div class='post-footer'>
    <h4 class='post-author'>Kirby Kohlmorgen</h4>
    <div class='small-bio'>
      Product Manager at <a href='https://twitter.com/MongoDB' target='_blank'>@MongoDB</a>. I love gold toe socks.
      <br />
      Follow me on Twitter <a href='https://twitter.com/_kirbyk' target='_blank'>here</a>.
    </div>
  </div>
</div>
